<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fudan.lib.stream.database.DaoMapper">
    <select id="readData" resultType="cn.fudan.lib.dto.DataItem"
            parameterType="cn.fudan.lib.stream.database.QueryParameter">
        select
        `id`,
        `deviceId`,
        `provider`,
        `up_timestamp` AS upTimestamp,
        `data`,
        `h`,
        `d`,
        `m`,
        `y`
        FROM ${param.tableName}
        WHERE up_timestamp BETWEEN #{param.beginDate} AND #{param.endDate}
        <if test="param.excludeIds != null">
            AND id NOT IN
            <foreach collection="param.excludeIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="param.deviceId != null">
            AND deviceId = #{param.deviceId}
        </if>
    </select>
    <select id="queryAllDeviceId" resultType="String"
            parameterType="cn.fudan.lib.stream.database.QueryParameter">
        select
        distinct `deviceId`
        FROM ${param.tableName}
        WHERE up_timestamp BETWEEN #{param.beginDate} AND #{param.endDate}
    </select>

</mapper>