<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fudan.lib.dao.LibDataMapper">
    <select id="TableIsExist" resultType="java.lang.String" parameterType="java.lang.String">
       show tables like  #{tableName ,jdbcType=VARCHAR}
    </select>

    <select id="CreateTableIfNotExists" parameterType="java.lang.String">
      CREATE TABLE IF NOT EXISTS  ${tableName} (
      `id` bigint(20) NOT NULL AUTO_INCREMENT,
      `deviceId` varchar(50) COLLATE utf8_bin DEFAULT NULL,
      `provider` varchar(20) COLLATE utf8_bin DEFAULT NULL,
      `up_timestamp` timestamp NULL DEFAULT NULL,
      `data` mediumtext COLLATE utf8_bin,
      `h` int(5) DEFAULT NULL,
      `d` int(5) DEFAULT NULL,
      `m` int(5) DEFAULT NULL,
      `y` int(5) DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
   </select>

    <select id="insertData" parameterType="cn.fudan.lib.dto.DataItem">
        INSERT INTO ${data.deviceCode}
        (`deviceId`,`provider`,`up_timestamp`,`data`,`h`,`d`,`m`,`y`)
        VALUES
        (#{data.deviceId},#{data.provider},
        #{data.upTimestamp},#{data.data},
        #{data.h},#{data.d},
        #{data.m},#{data.y})
    </select>
</mapper>